#section-5 {
    background: var(--color-bg-tertiary);
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    border-radius: 0.5rem;
    background: var(--color-bg-primary);
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-font);
}

@media screen and (max-width: 762px) {
    #section-5 {
        min-height: 50rem;
        align-items: center;
        text-align: center;
    }
    .concentracion-textos {
        margin: auto;
    }
    input, textarea {
        max-width: 25rem;
    }
}