#section-4 {
    height: 400px;
}
.swiper {
    height: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    height: 40%;
    width: 70%;
    /* object-fit: cover; */
}

@media screen and (max-width: 400px) {
    .swiper-slide img {
        height: 60px;
        width: 100px;
    }
}